/* @layer utilities {
  .kb-auto {
    @apply text-blue-900;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;700&display=swap");

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-y: hidden;
}
a {
  text-decoration: none;
}
input {
  border: 1px solid var(--clr-gray);
}
input:focus-visible {
  outline: 1px solid var(--clr-gray);
}

:root {
  --gnass-blue: #275abc;
  --gnass-orange: #ffb221;
  --clr-gray: #d2d2d2;
  --clr-gray-200: #aaa;
  --clr-blue-600: #244a93;

  /* Typography */
  --text-700: 50px;
  --text-600: 28px;
  --text-500: 24px;
  --text-400: 20px;
  --text-300: 14px;
  --text-200: 12px;

  /* space */
  --space-100: 1rem;

  --card-img-h: 60px;
  --card-img-w: 100px;
  --results-card-img-w: 100px;
  --results-card-img-h: 100px;
}

/* utility classes */
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.container {
  max-width: 1024px;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0 !important;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.grid {
  display: grid;
}
.grid-col-3_7 {
  grid-template-columns: 32% 68% !important;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}
.bg-blue {
  background: var(--gnass-blue);
  color: white;
  font-weight: bold;
}
.bg-transparent {
  background-color: transparent;
}
.fixed-top {
  position: fixed !important;
  top: 0;
  left: 0;
}
.label {
  font-size: var(--text-300);
}
.title {
  font-size: var(--text-600);
}

/* Login page css */
nav {
  z-index: 1;
  padding-top: 1rem;
}
.logo {
  padding: 1.5rem;
}
.sidebar {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.sidebar .sidebarImg {
  position: absolute;
  width: 100%;
  top: 20%;
}

.mainContent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputFields input {
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}
.inputFields input[type="submit"] {
  margin-top: var(--space-100);
}
.loginForm {
  width: 40%;
}

/* Search Database Page */
.main__sidebar .hideMenu {
  display: none;
}
.main__sidebar a {
  color: white;
}
.main__sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.search__sidebarTabs {
  margin-top: 40%;
  height: max-content;
  padding: 0 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search__introText img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -50%;
}
.search__sidebarTabs .card {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card {
  padding: 0.2rem 1rem;
  background: var(--clr-blue-600);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.card:hover {
  border: 1px solid white;
}
.card:not(:last-child) {
  margin-bottom: 1.5rem;
}
.card__img img {
  width: var(--card-img-w);
  height: var(--card-img-h);
}
.card__img #search {
  height: calc(var(--card-img-h) + 20px);
}
.card__content {
  padding: 1rem;
}
.card__subtitle {
  font-size: var(--text-300);
  margin: 0;
}
.card__info {
  font-size: var(--text-200);
  font-weight: 400;
  margin: 0.3rem 0;
}

/* search mainContent Section */
.searchForm {
  width: 70%;
  margin-top: 5%;
}
.searchBar {
  width: 100%;
  display: flex;
}
.search__introText {
  display: none !important;
}

/* search mainContent section */
.search__mainContent {
  display: flex;
  justify-content: center !important;
  align-items: flex-start !important;
  /* margin-top: 10%; */
}
.searchBar input {
  padding: 0.6rem 0.8rem;
}
.searchBar input[type="text"] {
  width: 80%;
}
.searchBar input[type="submit"] {
  padding: 0 2rem;
}

/* Search Results */
.search__results {
  overflow-y: scroll;
  height: 60vh;
  margin-top: 2rem;
}
.results__card {
  border: 1px solid var(--clr-gray-200);
  padding: 1rem;
}
.results__cardInfo p {
  margin: 0.3rem 0;
  font-size: var(--text-300);
}
.results__cardImage img {
  /* width: var(--results-card-img-w);
  height: var(--results-card-img-h); */
}

/* Mobile screens */
@media (max-width: 576px) {
  :root {
    /* Typography */
    --text-700: 26px;
    --text-600: 17px;
    --text-500: 15px;
    --text-400: 13px;
    --text-300: 10px;
    --text-200: 7px;

    /* space */
    --space-100: 1rem;

    --card-img-w: 50px;
    --card-img-h: 30px;
  }
  /* body {
    height: fit-content;
  } */
  .sidebar {
    display: none;
  }
  .grid {
    display: block !important;
  }
  .grid-col-3_7 {
    grid-template-columns: none !important;
  }
  .mainContent {
    height: fit-content;
    padding-top: 55%;
    overflow-y: scroll !important;
  }
  .loginForm {
    width: 80%;
  }
  .inputFields input {
    padding: 0.5rem;
  }
  .loginForm .title {
    text-align: center;
  }

  /* Search Database Page */
  .main__sidebar .hideMenu {
    display: block;
    position: absolute;
    top: 2%;
    left: 7%;
    cursor: pointer;
  }
  .main__sidebar {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
  }
  .search__mainContent {
    padding-top: 30%;
    text-align: center;
  }
}
