/* @layer utilities {
  .kb-auto {
    @apply text-blue-900;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Montserrat:wght@400;500;600;700&family=Quicksand:wght@300;400;500;700&display=swap");

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* overflow-y: hidden; */
}
a {
  text-decoration: none;
}
input {
  border: 1px solid var(--clr-gray);
}
input:focus-visible {
  outline: 1px solid var(--clr-gray);
}

input[type="submit"]:hover {
  background: var(--clr-blue-300) !important;
  cursor: pointer;
}

:root {
  --gnass-blue: #275abc;
  --gnass-orange: #ffb221;
  --clr-gray: #d2d2d2;
  --clr-gray-200: #aaa;
  --clr-blue-600: #244a93;
  --clr-blue-300: rgb(75, 132, 255);

  /* Typography */
  --text-700: 50px;
  --text-600: 32px;
  --text-500: 24px;
  --text-400: 20px;
  --text-300: 14px;
  --text-200: 12px;

  /* space */
  --space-100: 1rem;
  --space-200: 1.5rem;

  --card-w: 80%;
  --card-h: 100px;
  --card-img-h: 40%;
  --card-img-w: 30%;
  --results-card-img-w: 60px;
  --results-card-img-h: 50px;
}

/* utility classes */
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.container {
  max-width: 1024px;
}
.pointer {
  cursor: pointer !important;
  z-index: 1 !important;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0 !important;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}
.grid-col-3_7 {
  grid-template-columns: 32% 68% !important;
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}
.bg-blue {
  background: var(--gnass-blue);
  color: white;
  font-weight: bold;
}
.bg-transparent {
  background-color: transparent;
}
.fixed-top {
  position: fixed !important;
  top: 0;
  left: 0;
}
.label {
  font-size: var(--text-300);
  font-weight: 600;
}
.title {
  font-size: var(--text-600);
}

/* Login page css */
nav {
  z-index: 5;
  padding-top: 1rem;
}
.nav-colored {
  background: white;
  border-bottom: 3px solid #b3b0b063;
}
.menu {
  display: none;
}
.logo {
  padding: 1.5rem;
}
.sidebar {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.sidebar .sidebarImg {
  position: absolute;
  width: 100%;
  top: 20%;
}

.mainContent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.inputFields input {
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
}
.inputFields input[type="submit"] {
  margin-top: var(--space-100);
}
.loginForm {
  width: 40%;
}

/* Search Database Page */
.main__sidebar .hideMenu {
  display: none;
}
.main__sidebar a {
  color: white;
}
.main__sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main__sidebar .logout {
  font-size: var(--text-400);
}
.main__sidebar #logoutIcon {
  margin-right: 0.5rem;
}
.search__sidebarTabs {
  margin-top: 40%;
  height: max-content;
  padding: 0 2rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search__introText img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -50%;
}
.search__sidebarTabs .card {
  width: var(--card-w);
  height: var(--card-h);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card {
  padding: 0.2rem 1rem;
  background: var(--clr-blue-600);
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.card:hover {
  border: 1px solid white;
}
.card:not(:last-child) {
  margin-bottom: 1.5rem;
}
.card__img {
  width: var(--card-img-w);
  height: var(--card-img-h);
}
.card__img img {
  width: 100%;
  height: 100%;
}
.card__img #search {
  height: calc(var(--card-img-h) + 80%);
}
.card__content {
  padding: 1rem;
}
.card__subtitle {
  font-size: var(--text-300);
  margin: 0;
}
.card__info {
  font-size: var(--text-200);
  font-weight: 400;
  margin: 0.3rem 0;
}

/* search mainContent Section */
.searchForm,
.registerForm {
  width: 70%;
  margin-top: 5%;
}
.searchBar {
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
}
.search__introText {
  display: none !important;
}

/* search mainContent section */
.search__mainContent {
  display: flex;
  justify-content: center !important;
  align-items: flex-start !important;
  /* margin-top: 10%; */
}
.searchBar input {
  padding: 0.6rem 0.8rem;
}
.searchBar input[type="text"] {
  width: 80%;
}
.searchBar input[type="submit"] {
  padding: 0 2rem;
}

.changeLayout {
  grid-template-columns: 1fr !important;
  gap: 1rem;
}
.changeLayout .results__card {
  display: flex;
  align-items: center;
}
.changeLayout .results__cardInfo {
  /* flex-direction: row !important;
  justify-content: flex-start;
  width: 100%; */
  padding: 0 0.8rem;
  display: grid;
  grid-template-columns: 4fr 1fr 0.5fr;
  place-items: start;
}
.changeLayout .results__cardInfo p:not(:last-child) {
  margin-right: 0.6rem;
}
.changeLayout .results__cardImage {
  width: var(--results-card-img-w);
  height: var(--results-card-img-h);
}
.changeLayout .results__cardImage img {
  width: 100%;
  height: 80%;
}
.changeLayout .results__card {
  height: 50px;
  padding: 0.2rem;
}
/* Search Results */
.search__results {
  overflow-y: scroll;
  /* height: 60vh; */
  margin-top: 2rem;
  transition: all 0.3s ease;
}
.results__card {
  border: 1px solid var(--clr-gray-200);
  padding: 1rem;
  transition: all 0.4s ease;
}
.results__cardImage {
  width: 80%;
  margin: auto;
  /* height: 150px; */
}
.results__cardImage img {
  width: 100%;
  height: 90%;
}
.results__cardInfo p {
  /* margin: 0.3rem 0; */
  font-size: var(--text-300);
}

/* Register or add new entry styles */
.register__mainContent .inputFields {
  column-gap: 1rem;
  row-gap: 0.5rem;
}
.register__mainContent #register {
  padding: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: var(--space-200);
  color: white;
  background: var(--gnass-blue);
}

/* some tablet screens */
@media (max-width: 893px) {
  .card__subtitle {
    font-size: calc(var(--text-300) - 2px);
    margin: 0;
  }
  .card__info {
    font-size: calc(var(--text-200) - 2px);
    font-weight: 400;
    margin: 0.3rem 0;
  }
}

/* Mobile screens */
@media (max-width: 576px) {
  :root {
    /* Typography */
    --text-700: 26px;
    --text-600: 17px;
    --text-500: 15px;
    --text-400: 13px;
    --text-300: 12px;
    --text-200: 10px;

    /* space */
    --space-100: 1rem;

    --card-img-w: 50px;
    --card-img-h: 30px;
  }

  /* body {
    height: fit-content;
  } */
  .sidebar {
    display: none;
  }
  .card__img #search {
    height: calc(var(--card-img-h) + 20%);
  }
  .menu {
    display: block;
    padding-right: 1rem;
  }
  .grid-col-3_7 {
    grid-template-columns: none !important;
  }
  .grid-cols-2:not(.registerForm .grid-cols-2) {
    grid-template-columns: 1fr;
  }
  .mainContent {
    height: fit-content;
    padding-top: 40%;
    overflow-y: scroll !important;
  }
  .loginForm,
  .registerForm {
    width: 90%;
  }
  .searchForm {
    width: 85%;
  }
  .inputFields {
    margin-top: 1.5rem;
  }
  .inputFields input {
    padding: 0.85rem;
  }
  .loginForm .title {
    text-align: center;
  }

  /* Search Database Page */
  .main__sidebar .hideMenu {
    display: block;
    position: absolute;
    top: 2%;
    left: 7%;
    cursor: pointer;
  }
  .main__sidebar {
    position: fixed;
    display: none;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
  }
  .search__mainContent {
    padding-top: 20%;
    text-align: center;
  }
  .register__mainContent {
    padding-top: 25%;
  }
  .register__mainContent .title {
    text-align: center;
  }
  .mainContent .changeLayout {
    gap: 0.5rem !important;
  }
}
